.dashboard-cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;
}

.card{

    background:var(--card);

    padding:25px;

    border-radius:20px;

    transition:.3s ease;
}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

/*----------------*/
.main-content{

    margin-left:260px;

    width:100%;

    padding:30px;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    padding:40px;
    border-radius:20px;
    transition:.3s;
    animation:fadeIn .5s ease;
    min-height:180px;
}

.card:hover{

    transform:translateY(-8px);
}

.total{
    background:#6366F1;
}

.active{
    background:#F59E0B;
}

.completed{
    background:#10B981;
}

.blocked{
    background:#EF4444;
}