.form-group{

    margin-bottom:20px;
}

.form-control{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#334155;

    color:white;
}

.form-container{

    margin-top:40px;

    background:#1E293B;

    padding:25px;

    border-radius:20px;
}

#formHistoria{

    display:flex;

    flex-direction:column;

    gap:15px;
}

#formHistoria input,
#formHistoria textarea,
#formHistoria select{

    padding:15px;

    border:none;

    border-radius:12px;

    background:#334155;

    color:white;

    font-size:15px;
}

#formHistoria button{

    padding:15px;

    border:none;

    border-radius:12px;

    background:#6C63FF;

    color:white;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

#formHistoria button:hover{

    transform:scale(1.02);

    background:#574bff;
}